#main {
  width: 70%;
  margin: auto;
}
header {
  text-align: center;
}
.line-through {
  text-decoration: line-through;
}
#new-todo {
  display: inline-block;
  width: 50%;
  margin: 5% auto;
  height: 5%;
  padding: 10px;
}
ul {
  margin: 0;
  text-align: left;
  padding: 0; 
  list-style: none;
}
li {
  display: block;
  width: 100%;
}
button {
  border: 0;
  background: none;
  font-size: 70%;
  vertical-align: baseline;
  color: blue;
}
.sub-todo {
margin-left: 5%;
}